<div class='section_extra-margin'></div>
<footer>
    <div class="footer_socials">
                
        <%= link_to "https://www.youtube.com/",target: '_blank' do %>
          <%= image_tag "youtube.png", alt: "uTube" %>
        <% end %>

        <%= link_to "https://www.reddit.com/",target: '_blank' do %>
          <%= image_tag "reddit.svg", alt: "uTube" %>
        <% end %>
        <%= link_to "https://www.x.com/",target: '_blank' do %>
          <%= image_tag "x.svg", alt: "uTube" %>
        <% end %>
                
    </div>
    
    <div class="container footer_container">

        <article>
            <h4> Categories</h4>
            <ul>
                <% @categories.each do |category| %>
                    <li><%= link_to category.title , posts_path(category: category.title) %></li>
                <% end %>
            </ul>
        </article>

        <article>
            <h4> Support</h4>
            <ul>
                <li><%= link_to "Social Support", pages_contact_path %></li>
                <li><%= link_to "Email", pages_contact_path %></li>
                <li><%= link_to "Local Numbers", pages_contact_path %></li>
                <li><%= link_to "Online Complaints", pages_contact_path %></li>
                <li><%= link_to "Queries", pages_contact_path %></li>
                <li><%= link_to "Location", pages_contact_path %></li>
            </ul>
        </article>

        <article>
            <h4> Truth Feed</h4>
            <ul>
                <li><%= link_to "Terms", root_path %></li>
                <li><%= link_to "Update", root_path %></li>
                <li><%= link_to "News", root_path %></li>
                <li><%= link_to "About", root_path %></li>
                <li><%= link_to "Team", root_path %></li>
            </ul>
        </article>

    </div>

    <div class=" footer_copyright">
        <small> Copyright &copy; Truth Feed 2024</small>
    </div>
    
</footer>