<nav>
        <div class = "container ">

            
            <div class='nav_container'>
                <%= link_to 'Truth Feed', root_path , class: 'nav_logo' %>

                <ul class ="nav_items">

                    <div class='search_bar'>
                        <%= form_tag(root_path, method: :get) do %>
                                
                            <div class="search_bar-container">
                                
                                <%= image_submit_tag("search.svg", alt: "Search" , class: 'search_bar-button', tabindex: '-1') %>
                                <%= text_field_tag :query, params[:query], placeholder: "not implemented", class: 'input_bar' %>
                                
                            </div>
                        <% end %>
                    </div>
                
                    <li><%= link_to 'Contact', pages_contact_path %></li>
                    <li><%= link_to 'About', pages_about_path %></li>

                    <li class ="nav_items"> 
                    
                        <div class ="avatar">
                            <img src="" alt="no src">
                        </div>

                        <ul>
                            <li><%= link_to 'Dashboard', root_path %></li>
                            <li><%= link_to 'Logout', root_path %></li>
                        </ul>

                    </li>

                    <!--div class="account_op">
                    <li><a href = "<?= ROOT_URL?>signin.php" class="nav_sign in"> Sign in  </a> </li>
                    <li  ><a href = "<?= ROOT_URL?>signup.php"  class="nav_sign up"> Sign Up  </a> </li>
                    </div-->

                </ul>
                
            </div>

            <div class='nav_container'>
                <!--move evrthing in  this div to an other file if active bar needs to be shown-->
                <ul class ="nav_items nav_bar-secondary">
                    <li><%= link_to 'Home', root_path %></li>
                    <li><%= link_to 'For you', root_path %></li>
                    <li><%= link_to 'Following', root_path %></li>
                    <div class='spacing_bar'></div>
                    <li><%= link_to 'local', root_path %></li>
                    <li><%= link_to 'India', root_path %></li>
                    <li><%= link_to 'World', root_path %></li>
                    <li><%= link_to 'sports', root_path %></li>

                </ul>
                
            </div>          

        </div>

</nav>

<div class='section_extra-margin'></div>