<div class='article_body' id="<%= dom_id post %>">
   

 <%= image_tag rails_blob_path(post.thumbnail), class: "article_image" %>

    <div class='article_body-info'>
          <h3><%= post.title %></h3>

        <small>
          <p>
            <strong>Author:</strong>
            <%= post.author.username %>
          </p>

          <p>
            <strong>Location:</strong>
            <%= post.location.title %>
          </p>

          <p>
            <%= time_ago_in_words(post.created_at) %> ago
          </p>
         </small> 
        
    </div>
  
</div>

    

