

<p style="color: green"><%= notice %></p>
<main class="container topics">

    
    <% if @recent_posts.present? %>
        <%= render partial: 'largeArticle', locals: { articles: @recent_posts, section_title: 'Recent News' } %>
        <% if @secondary_posts.present? %>
            <%= render partial: 'smallArticle', locals: { articles: @secondary_posts, section_title: 'Other News' } %>        
        <%end%>
    <%else%>
        <% if @secondary_posts.present? %>
            <%= render partial: 'largeArticle', locals: { articles: @secondary_posts, section_title: 'Other News' } %>        
        <%end%>
    <%end%>

    <% @categories_with_posts.each do |category| %>
        <%= render partial: 'smallArticle', locals: { articles: category.post.order(created_at: :desc).limit(2), section_title: category.title } %>
    <% end %> 

    <% @locations_with_posts.each do |location| %>
        <%= render partial: 'smallArticle', locals: { articles: location.post.order(created_at: :desc).limit(2), section_title: location.title } %>
    <% end %>             
       
    
</main>    