
<h1 class='container'>Pages#Home</h1>

<main class="container topics">

    <section class='articles container'>
        <h2>Topics</h2>
    
        <div class='article_body'>
            <%= link_to root_path, class: 'article_image' do  %>
            <%= image_tag 'thumbnails/thumb.jpg' %>
            <% end %>
            <div class='article_body-info'>
                <h3><%= link_to "Sample title sampel simple possibly eeven longer", root_path %></h3>
                <p>Praesent laoreet massa mollis tellus posuere vestibulum. Nam at aliquam erat. Praesent quis metus ligula.....</p>

                <small>5 hours ago</small>
            </div>        

        </div>
        
    </section>

    <div class='articles-small'>
        
        <section class='articles container'>
            
            <div class='article_body'>
                <%= link_to root_path, class: 'article_image' do  %>
                <%= image_tag 'thumbnails/thumb.jpg' %>
                <% end %>
                <div class='article_body-info'>
                    <h4><%= link_to "Sample title sampel simple possibly eeven longer", root_path %></h4>
                    <small>5 hours ago</small>
                </div>        

            </div>
            

        </section>
        
    
    </div>
    

    

</main>    