<div class='container form-holder '>  
<div class="form-container">

<%= form_with(model: post, html: { multipart: true }) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :author_id, style: "display: block" %>
    <%= puts current_user %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body, row: "20" %>
  </div>

  <div>
    <%= form.label :thumbnail, style: "display: block" %>
    <%= form.file_field :thumbnail, accept: "image/jpeg, image/png", max_size: 5.megabytes %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.select :category_id, options_for_select(@categories, @post.category_id) %>
  </div>

  <div>
    <%= form.label :location_id, style: "display: block" %>
    <%= form.select :location_id, options_for_select(@locations, @post.location_id) %>
  </div>

  <div>
    <%= form.submit "Post", class: "button" %>
  </div>
<% end %>

</div>
</div>
