<div id="<%= dom_id post %>" class="post">
  

  <h1>
    <%= post.title %>
  </h1>
  <p>
    <strong>By:</strong>
    <%= post.author&.username.presence || "[Deleted Account]" %>
  </p>
  
  <p>
    <%= post.category.title %>
  </p>


  <p>   
      <%= image_tag rails_blob_path(post.thumbnail), class: "thumbnail" %>
  </p>

<div class="post-content">
  <p>
    <%= post.location.title %>:
    <%= post.body %>
  </p>
</div>

</div>
