<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
 
     <% @posts.each do |post| %>
      
      <tr>
        <td>
          <%= link_to post_path(post), class: 'click' do %>  
            <%= post.title %>
          <%end%>
        </td>
        <td><%= post.category.title %></td>
        <td><%= post.location.title %></td>
        <td class= "action">
            <%= link_to 'View', post_path(post), class: 'button' %>  
            <%= link_to 'Edit', edit_post_path(post), class: 'button' %>
            <%= link_to 'Delete', main_app.post_path(post), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'button danger' %>
        </td>
      </tr>
    <% end %>
    
    <tr>
      <td colspan="4">
        <%= link_to "New post", new_post_path, class: 'button' %>
      </td>
    </tr>

  </tbody>
</table>
